<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    body {
        font-family: 'Roboto Mono', monospace;
    }
</style>

<body>
    
    <li><a href="/index">Home</a></li>
    <li><a href="/info">Info</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>

    <h1> Contact page 📨 </h1>

</body>
</html>